<h1 class="text-center mt-2">"<%= @group.name %>"の指導者</h1>

<div class="btn-wrapper mx-auto">
  <div class="row justify-content-center">
    <%= link_to 'グループ一覧に戻る', groups_path, class: "btn btn-sm btn-outline-secondary mr-2" %>
    <%= link_to 'グループの指導集', group_path(@group.id), class: "btn btn-sm btn-outline-secondary" %>
  </div>
</div>

<%= render 'public/users/relationships', users: @users %>