<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto rounded px-0 my-1">

      <% post.comments.order(created_at: :desc).each do |comment| %>

        <!--有効なユーザーのコメントのみ表示-->
        <% unless comment.user.is_deleted %>
          <div class="card mt-2 shadow-lg">
            <div class="card-body">
              <p class="card-text">コメント：<%= comment.comment %></p>
            <div class="row">
              <div class="col">
                <%= link_to(user_path(comment.user.id), class:"text-dark") do %>
                  <span><i class="fas fa-user"></i> By <%= comment.user.name %></span>
                <% end %>
              </div>
              <div class="col">
              </div>
              <div class="col">
                <% if comment.user == current_user %>
                  <%= link_to "Destroy", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
                <% end %>
              </div>
            </div>
            </div>
          </div>
        <% end %>

      <% end %>

    </div>
  </div>
</div>