<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto rounded px-0 my-5">
      
      <% post.comments.each do |comment| %>
        <div class="card mt-2 shadow-lg">
          <div class="card-body">
            <p class="card-text">コメント：<%= comment.comment %></p>
          <div class="row">
            <div class="col">
             <span><i class="fas fa-user"></i> By <%= comment.user.name %></span>
            </div>
            <div class="col">
            </div>
            <div class="col">
              <% if comment.user == current_user %>
                <%= link_to "Destroy", post_comment_path(comment.post, comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </div>
          </div>
          </div>
        </div>
      <% end %>
      
    </div>
  </div>
</div>