<h1 class="text-center mt-2">検索結果</h1>

  <% if @range == "指導者" %>

    <%= render 'public/users/relationships', users: @users %>

  <% else %>

    <%= render partial: "public/posts/index_posts" %>

  <% end %>
