<% if notice %>
  <div class="alert text-center alert-dark">
    <%= notice %>
  </div>
<% else %>
  <%= render 'layouts/flash_message' %>
<% end %>

<h1>Top</h1>

<div class="btn-wrapper col-4 mx-auto">
  <div class="row">
    <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
</div>