<section class="inner">
  <h2 class="section-ttl">管理者トップ</h2>
  <h1 class="admin_top-txt">
  	<%= link_to "hogehoge", destroy_admin_session_path, method: :delete, class: "underline" %>
  </h1>
  <h1 class="admin_top-txt">
  	<%= link_to "登録者", admin_users_path, class: "underline" %>
  </h1>
</section>