<h1>コミュニティの変更</h1>

<%= form_with model: @user, url: community_path, method: :patch do |f| %>
  <h3>選択しているコミュニティ</h3>
  <ul>
    <% @user.communities.each do |community| %>
      <li><%= community.name %></li>
    <% end %>
  </ul>

  <h3>コミュニティの選択</h3>
  <%= f.collection_check_boxes :community_ids, @communities, :id, :name %>

  <%= f.submit "変更する" %>
<% end %>