<h1>カテゴリー一覧</h1>
<ul class="categories">
  <% @communities.each do |community| %>
    <li class="parents"><%= link_to community.name, community_path(community) %></li>

    <ul class="categories__children">
      <% community.children.each do |child| %>
        <li class="children"><%= link_to child.name, community_path(child) %></li>

        <ul class="categories__grandchildren">
          <% child.children.each do |grandchild| %>
            <li><%= link_to grandchild.name, community_path(grandchild) %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</ul>