@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    background-color: #ffffff;
    height: 100%;
    font-family: 'Rampart One', cursive;
  }

.login {
  background-color: #DDDEDE;
}

.alert.text-center {
  margin-bottom: 0;
}

header {
    background-color: #DDDEDE;
  }

footer {
    background-color: #232122;
      color: #EEEEEE;
  }

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  color: #A5C05B;
  font-weight: bold;
}

// ページネーション
nav.pagination {
  display: none;
}
.scroll-list {
  padding: 0;
}