@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
    background-color: #ffffff;
    height: 100%;
    font-family: 'Rampart One', cursive;
  }

header {
    background-color: #DDDEDE;
  }

footer {
    background-color: #232122;
      color: #EEEEEE;
  }
