.newpost {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.newpost-form {
  background-color: #DDDEDE;
  border-radius: 10px;
}


.newcomment-form {
  background-color: #DDDEDE;
  border-radius: 10px;
}


.newgroup-form {
  background-color: #DDDEDE;
  border-radius: 10px;
}