.newpost-form {
  background-color: #7BA4A8;
  border-radius: 10px;
}


.newcomment-form {
  background-color: #7BA4A8;
  border-radius: 10px;
}


.newgroup-form {
  background-color: #7BA4A8;
  border-radius: 10px;
}