<% if current_user && post.user_has_paragon?(current_user) %>
  <div class="text-danger">
    <i class="fa-solid fa-eye"></i><%= post.paragons.count %>
  </div>
  
<% else %>
  <div class="text-dark">
    <i class="fa-solid fa-eye-slash"></i><%= post.paragons.count %>
  </div>
<% end %>