<h1 class="text-center mt-2">本当に退会しますか？</h1>
<p class="text-center">
  <span>退会すると、指導者ログ閲覧や<br>bunshowの投稿ができなくなります。<br>同意いただける場合は、<br>「退会する」をクリックしてください。</span>
</p>

<div class="row justify-content-center">
  <div class="mt-5 mb-5 btn-group">
    <div class="col">
      <%= link_to "戻る", user_path(current_user.id), class: "btn btn-outline-secondary" %>
    </div>
    <div class="col">
      <%= link_to "退会", withdraw_users_path, method: :patch, class: "btn btn-danger", data: { confirm: "本当に退会しますか？" } %>
    </div>
  </div>
</div>