<footer class="mt-2 pt-3 pb-1">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <p>指導者の<br>指導者による<br>指導者のためのコミュニティ</p>
        <h2>BunShow</h2>
      </div>
      <div class="col-md-8">
        <h6 class="mt-2 mb-1">Link</h6>
        <ul class="p-0 list-unstyled">
          <li>
            <a href="https://github.com/takayuki91/bunshow.git" title="About" class="text-white-50">An overview is on Github</a>
          </li>
          <li>
            <a href="<%= new_admin_session_path %>" title="License informations" class="text-white-50">Admin Login</a>
          </li>
        </ul>
        <h6 class="mt-2 mb-3">© 2023 BUNSHOW community of leaders</h6>
      </div>
    </div>
  </div>
</footer>